<% var activeState = {};

if(drugs) for (var i in drugs) {
    activeState[i]='';
}

var activeIn = false;
var previous =  opendata.ActiveTabs[this.model.id]
activeState[previous ? previous : 'cannabis'] = ' class="active"';
%>

<div class="country">

    <h3><%= name %></h3>

    <hr>

    <% if( ! isPinned){ %>
        <div class="country-controls country-pin" data-loading-text="Pinned" data-id="<%= id %>">Pin</div>
    <% } %>
    <div class="country-controls country-close" data-id="<%= id %>">X</div>

        <%  if ( typeof drugs !== 'undefined' ) { %>
        <ul class="nav nav-tabs" id="tab">             
            <%  for (var i in drugs) { %>
                <li<%= activeState[i] %>><a href="#tab-<%= i %>-<%= id %>" data-toggle="tab"><%= (i.charAt(0).toUpperCase() + i.slice(1)) %></a></li>
            <% } %>        
        </ul>

        <div class="tab-content">
            <%  for (var i in drugs) { %>
                <div class="tab-pane fade<%= !activeIn ? " in active": ""%>" id="tab-<%= i %>-<%= id %>"><div class="chart chart-<%= i %>"></div></div>
            <% activeIn=true 
            } %> 
        </div>

        <% }; %>

    </div>

</div>

